.body{
    background-image: url({{ url_for('static', filename='/static/bg.jpg') }})
}
.p{
  font-family: 'Montserrat';
  font-size: 15px;
}
.format{
  font-family: 'Montserrat';
  font-size: 20px;
}

.size{
 font-size: 10px;
}

/* Bordered form */

/* Full-width inputs */
input[type=text], input[type=password] {
   width: 50%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

/* Set a style for all buttons */

/* Add a hover effect for buttons */






/* Add padding to containers */
.container1 {
  margin: 100px;
   padding: 100px;
   text-align: center;
   align-items: center;
   align-content: center;
}

/* The "Forgot password" text */
span.psw {
   float: right;
   padding-top: 16px;
}


/* ------------------------------------------------------------------*/
/* Green */
.success {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border-color: #4CAF50;
  color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
    border: 2px solid black;
    border-color: #2196F3;
    color: dodgerblue;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;


}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border: 2px solid black;
    border-color: #ff9800;
    color: orange;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    border: 2px solid black;
    border-color: #f44336;
    color: red;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    border: 2px solid black;
    border-color: #e7e7e7;
    color: black;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.default:hover {
    background: #e7e7e7;
}
.center{
  text-align: center;
  align-items: center;
  align-content: center;
}
.h3font{
  font-size: 18px;
}
ul#menu li {
    display:inline;
}
a {
color: inherit;
font-family: inherit;
text-decoration: none;
}
body{
  font-family: 'Montserrat';
}
.complete{
  font-style: italic;
  color: 	#00FF00;
  font-size: 13px;
  font-family: 'Montserrat';
  text-decoration: none;

}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 5%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 30px;
  background: #36304a;
}
table tbody tr {
  height: 30px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}


.table100-head th{
  font-family: 'Montserrat';
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #6A5ACD;
}

tbody tr {
  font-family: 'Montserrat';
  font-size: 15px;
  color: #A9A9A9;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  background-color: #A9A9A9;
  cursor: pointer;
  font-style: italic;
}

.column1 {
  width: 100px;
}

.sizeclass{
  font-size: 10px;
  align-items: center;
  align-content: center;
  text-align: center;

}

.container{
  width: 100px;
}
li{
  list-style-type: none;
}
h2{
  font-family: 'Montserrat';
  font-size: 25px;
}
.list{
  font-family: 'Montserrat';
  border-bottom: 1px solid #ccc;
  display: block;
}
.list a:hover{
  font-size: 20px;
  color: #6A5ACD;
  font-style: italic;
}
.top{
  color: white;
  font-family: 'Montserrat';
  margin-right: 10px;
}
.custom{
  background-color: #6A5ACD;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  font-family: 'Montserrat';
}
.custom:hover {
    background-color: white;
    color: #6A5ACD;
    border-style: solid;
    border-color: #6A5ACD;
}
.button {
    background-color: #6A5ACD;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    font-family: 'Montserrat';
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #6A5ACD;
}

.button1:hover {
    background-color: #6A5ACD;
    color: white;
}
body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: 'Montserrat';font-size: 35px;
}
h3 {
  font-family: 'Montserrat';font-size: 15px;
}
.italic{
font-style: italic;
}

.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
font-family: 'Montserrat';
font-weight: bold;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #6A5ACD;
color: black;
}
