{% extends "base2.html" %}
{% block content %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>:: Zion Banking Group</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>Zion Banking Group</h1>
					<p>Here today, for your tomorrow.</a></p>
				</div>
			</header>

			<div id="wrapper">

					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>About us and what we offer?</h2>
						<p>Opened in 2018, Zion Banking is the banking of the future. We are looking at big developments for 2019, however for starting purposes we currently offer:
						<br><strong>Savings Account:</strong><br>
						- Simple savings account to save up your money.<br>
						- No charges by us, we look out for you.<br>
						- £500 Overdraft, no interest, no time limits.<br>
						- Comes with an builtin interest account, deposit money to earn interest on top which can be withdrew from interest back to savings at any point.<br>
						<strong>Student Account:</strong><br>
						- Simple savings account to save up your money.<br>
						- No charges by us, we look out for you.<br>
						- £1000 Overdraft, no interest, no time limits.<br>
						<strong>Child Account (Under 16's):</strong><br>
						- No charges by us, we look out for you.<br>
						- Simple savings account to save up your money.<br>
						- £1000 Overdraft, no interest, no time limits.<br>
						<strong> All accounts have no minimum deposit. </strong><br>
						<strong>Note:</strong> By using our website, you agree that we collect cookies.
						We recommend the following website for financial advice.





					</p>
					<iframe src="https://www.citizensadvice.org.uk/debt-and-money/getting-financial-advice/#h-getting-financial-advice" height="400" width="400">
  				<p>Your browser does not support iframes.</p>
					</iframe>
						<ul class="actions">
							<li><a href="/register" class="button big">Register</a></li>
						</ul>
					</section>
					<footer id="footer">
						<p class="copyright">&copy; Zion Banking Group.</p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='skel.min.js')}}"></script>
		<script src="{{url_for('static', filename='util.js')}}"></script>
		<script src="{{url_for('static', filename='main.js')}}"></script>

	</body>
</html>
{% endblock %}
