<!DOCTYPE html>
<html>
  <head>
    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles2.css') }}">
    <link rel= "shortcut icon" href= "{{ url_for('static',filename='favicon.ico') }}">
    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- If there is a title given, it is used else it says no title specified -->
  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}
  </head>
  <body>
    <!-- navigation bar -->
    <div id='cssmenu'>
    <ul><br>
        <img src="static/images/logo.png" alt="" height="125" width="250" align="left" />
       <li><a href='/index'>Home</a></li>
       <li><a href='/transfer'>Transfer Money</a></li>
       <li><a href='/withdraw'>Withdraw Money</a></li>
       <li><a href='/deposit'>Deposit Money</a></li>
       <li><a href='/overview'>Account Histroy</a></li>
       <li><a href='/settings'>Account Settings</a></li>
       <li><a href='/logout'>Logoff</a></li>

    </ul>
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
