{% import "bootstrap/wtf.html" as wtf %}
<!-- Extends base -->
{% extends "base.html" %}
{% block content %}
<html>
<body>
<div class="center"><h2>Mental Health Application</h2></div>
<!-- Returns name variable -->
<div class="center"><p>
Select your new condition below.</p>
<div class="center">
<form action="/change" method="POST">
 <div class="container1">
   {{ form.hidden_tag() }}
   {{ wtf.form_field(form.conditionchange) }}
   <input type="submit" class="button button1" value="Change">
 </div>
</div>
</form>
</body>
</html>
{% endblock %}
