{% extends "base2.html" %}
{% block content %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>:: Zion Banking Group</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>Zion Banking Group</h1>
					<p>Here today, for your tomorrow.</a></p>
				</div>
			</header>

			<div id="wrapper">

					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Why choose us?</h2>
						<p>At Zion Banking Group, we care about your future. So we offer simple banking for your day to day needs. <br>
						Open a simple bank account with the option to invest some funds into an interest account and always have funds with our overdraft policy or maybe your looking to open a child or student account.<br>
					  Whatever you require, we provide... register for a bank account below.</p>
						<ul class="actions">
							<li><a href="/register" class="button big">Register</a></li>
						</ul>
					</section>

					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="static/images/pic01.jpg" alt="" /></a>
								<h3>Overdraft</h3>
							</header>
							<p>We offer an overdraft of £500 on all adult bank accounts and £1000 on all child and student accounts. (Under 16's) <br>
							There is no time limit to pay off your overdraft and no interest is applied because we have your back. T&C's apply. </p>
							<ul class="actions">
								<li><a href="/register" class="button">Register</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="static/images/pic02.jpg" alt="" /></a>
								<h3>Christmas</h3>
							</header>
							<p>We know it is festive season, transfer from your current bank account provider now to Zion to obtain £100 cash in hands when you visit one of our branches·</p>
							<ul class="actions">
								<li><a href="/register" class="button">Register</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="static/images/pic03.jpg" alt="" /></a>
								<h3>British Bank Awards 2018</h3>
							</header>
							<p>Coming towards the end of 2018, we have been nominated for the British Bank Awards. If you like using our services, please considerate voting for us. When you vote, the British Bank Awards will enter you into a £1000 prize draw, whoever you vote for.</p>
							<ul class="actions">
								<li><a href="http://www.britishbankawards.co.uk/" class="button">Vote Now</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="static/images/pic04.jpg" alt="" /></a>
								<h3>Contactless</h3>
							</header>
							<p>Contactless payments allow you to make a quick and easy low-value payment by tapping your contactless-enabled bank card, key fob, smartphone or other wearable device on a payment terminal without entering your PIN.</p>
							<ul class="actions">
								<li><a href="/about" class="button">More</a></li>
							</ul>
						</article>
					</section>
					<section id="cta" class="main special">
						<h2>Student Accounts</h2>
						<p>Are you a student starting your first year at university?
							<br>Open an account with us today to redeem a full year Amazon Prime and a £40 Amazon gift card.</p>
						<ul class="actions">
							<li><a href="/register" class="button big">Get Started</a></li>
						</ul>
					</section>

					<footer id="footer">
						<p class="copyright">&copy; Zion Banking Group.</p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='skel.min.js')}}"></script>
		<script src="{{url_for('static', filename='util.js')}}"></script>
		<script src="{{url_for('static', filename='main.js')}}"></script>

	</body>
</html>
{% endblock %}
