{% extends "base.html" %}
{% block content %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>:: Zion Banking Group</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>Zion Banking Group</h1>
					<p>Here today, for your tomorrow.</a></p>
				</div>
			</header>

			<div id="wrapper">

					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h3>Welcome to your {{ account }} bank account, {{ fname }} {{ lname }}</h3>
            <h4>Mini Overview:</h4>
            <p><strong> Current Balance :</strong> £{{ balance }}<br>
            <strong>Overdraft limit on account:</strong> £{{ overdraft }}<br>
						<strong>Your ID:</strong> {{ uid }}<br>
					Note: You'll recieive payments into your account on this ID.</p>
					</section>
					<footer id="footer">
						<p class="copyright">&copy; Zion Banking Group.</p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='skel.min.js')}}"></script>
		<script src="{{url_for('static', filename='util.js')}}"></script>
		<script src="{{url_for('static', filename='main.js')}}"></script>

	</body>
</html>
{% endblock %}
