{% import "bootstrap/wtf.html" as wtf %}
{% extends "base2.html" %}
{% block content %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>:: Zion Banking Group</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>Zion Banking Group</h1>
					<p>Here today, for your tomorrow.</a></p>
				</div>
			</header>

			<div id="wrapper">

					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Login to your bank account:</h2>
            <div class="center">
            <form action="/login" method="POST">
             <div class="container1">
               {{ form.hidden_tag() }}
               {{ wtf.form_field(form.username) }}
               {{ wtf.form_field(form.password) }}
               <input type="submit" class="button button1" value="Login">
             </div>
           </div>
           </form>





					</p>
					</section>
					<footer id="footer">
						<p class="copyright">&copy; Zion Banking Group.</p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='skel.min.js')}}"></script>
		<script src="{{url_for('static', filename='util.js')}}"></script>
		<script src="{{url_for('static', filename='main.js')}}"></script>

{% endblock %}
