{% extends "base.html" %}
{% block content %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>:: Zion Banking Group</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>Zion Banking Group</h1>
					<p>Here today, for your tomorrow.</a></p>
				</div>
			</header>

			<div id="wrapper">

					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h3>Account Settings</h3>
            <p>Update your details, only * ones can be updated.</p>
			{% for User in query %}
      <strong>ID:</strong> {{ User.id }} <br>
			<strong>Username:</strong>: {{ User.username }} <br>
      <strong>Password*:</strong> <a href="/changepass">{{ User.password }}</a> <br>
      <strong>First Name:</strong> {{ User.firstname }} <br>
      <strong>Last Name:</strong> {{ User.lastname }} <br>
      <strong>Age*:</strong> <a href="/changeage">{{ User.age }}</a> <br>
      <strong>Address*:</strong> <a href="/changeAddress">{{ User.address }}</a> <br>
      <strong>Contact Number*:</strong> <a href="/changeNum">{{ User.contactnum }}</a> <br>
      <strong>Gender:</strong> {{ User.gender }} <br>
	</div>
					</p>
					</section>
					<footer id="footer">
						<p class="copyright">&copy; Zion Banking Group.</p>
					</footer>
{% endfor %}
			</div>

		<!-- Scripts -->
		<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='skel.min.js')}}"></script>
		<script src="{{url_for('static', filename='util.js')}}"></script>
		<script src="{{url_for('static', filename='main.js')}}"></script>

	</body>
</html>
{% endblock %}
