{% extends "base.html" %}
{% block content %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>:: Zion Banking Group</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>Zion Banking Group</h1>
					<p>Here today, for your tomorrow.</a></p>
				</div>
			</header>

			<div id="wrapper">

					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h3>Account History</h3>
            <p>Filter by:  <a href="/overview">All<a>, <a href="/withdrawlview">Withdrawls</a>, <a href="depositview">Deposits</a>, <a href="/incoming">Money Recieved</a>, <a href="/outgoing">Money Sent</a></p>
					{% for Withdrawls in overview %}
					<div class="container-table100">
						<div class="wrap-table100">
							<div class="table100">
								<center>
								<table>
									<thead>
										<tr class="table100-head">
											<!-- Heading in display to make it look nice-->
											<th class="column1"><h4>Withdrawl || {{ Withdrawls.date }}</h4></th>
										</tr>
										</thead>
										<tbody>
												<tr>
				<div class="container">
					<!-- Prints out task here -->
					<td class="column1"> <h5><strong>Amount:</strong>  -£{{ Withdrawls.withdrawl }}</h5>
					</td><br>
				</tr>
				</tbody>
				</table>
				</center>
				</div>
				</div>
				</div>
				{% endfor %}
	</div>
					</p>
					</section>
					<footer id="footer">
						<p class="copyright">&copy; Zion Banking Group.</p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='skel.min.js')}}"></script>
		<script src="{{url_for('static', filename='util.js')}}"></script>
		<script src="{{url_for('static', filename='main.js')}}"></script>

	</body>
</html>
{% endblock %}
